In [1]:
import pandas as pd

data = pd.read_csv("datasets/german_credit_data_dataset.csv")
data.head()

,checking_account_status,duration,credit_history,purpose,credit_amount,savings,present_employment,installment_rate,personal,other_debtors,...,property,age,other_installment_plans,housing,existing_credits,job,dependents,telephone,foreign_worker,customer_type
0,A11,6,A34,A43,1169.0,A65,A75,4.0,A93,A101,...,A121,67.0,A143,A152,2.0,A173,1,A192,A201,1
1,A12,48,A32,A43,5951.0,A61,A73,2.0,A92,A101,...,A121,22.0,A143,A152,1.0,A173,1,A191,A201,2
2,A14,12,A34,A46,2096.0,A61,A74,2.0,A93,A101,...,A121,49.0,A143,A152,1.0,A172,2,A191,A201,1
3,A11,42,A32,A42,7882.0,A61,A74,2.0,A93,A103,...,A122,45.0,A143,A153,1.0,A173,2,A191,A201,1
4,A11,24,A33,A40,4870.0,A61,A73,3.0,A93,A101,...,A124,53.0,A143,A153,2.0,A173,2,A191,A201,2

In [2]:
data.shape, data.columns

((1000, 21),
 Index(['checking_account_status', 'duration', 'credit_history', 'purpose',
        'credit_amount', 'savings', 'present_employment', 'installment_rate',
        'personal', 'other_debtors', 'present_residence', 'property', 'age',
        'other_installment_plans', 'housing', 'existing_credits', 'job',
        'dependents', 'telephone', 'foreign_worker', 'customer_type'],
       dtype='object'))

In [3]:
data = data.drop(['telephone', 'personal', 'present_residence', 'other_installment_plans'], axis=1)

In [4]:
data.columns

Index(['checking_account_status', 'duration', 'credit_history', 'purpose',
       'credit_amount', 'savings', 'present_employment', 'installment_rate',
       'other_debtors', 'property', 'age', 'housing', 'existing_credits',
       'job', 'dependents', 'foreign_worker', 'customer_type'],
      dtype='object')

In [5]:
data.info()
pd.__version__

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
checking_account_status    1000 non-null object
duration                   1000 non-null int64
credit_history             1000 non-null object
purpose                    1000 non-null object
credit_amount              1000 non-null float64
savings                    1000 non-null object
present_employment         1000 non-null object
installment_rate           1000 non-null float64
other_debtors              1000 non-null object
property                   1000 non-null object
age                        1000 non-null float64
housing                    1000 non-null object
existing_credits           1000 non-null float64
job                        1000 non-null object
dependents                 1000 non-null int64
foreign_worker             1000 non-null object
customer_type              1000 non-null int64
dtypes: float64(4), int64(3), object(10)
memory usage: 132.9+ KB

'0.23.0'

In [6]:
data['savings'].unique()

array(['A65', 'A61', 'A63', 'A64', 'A62'], dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder

savings_dict = {"A65": 0, "A61": 1, "A62": 2, "A63": 3, "A64": 4}
data['savings'].replace(savings_dict, inplace=True)

In [8]:
data = pd.get_dummies(data, columns=['checking_account_status',
                                    'credit_history',
                                    'purpose',
                                    'present_employment',
                                    'property',
                                    'housing',
                                    'other_debtors',
                                    'job',
                                    'foreign_worker'])

data.shape
data.head()

,duration,credit_amount,savings,installment_rate,age,existing_credits,dependents,customer_type,checking_account_status_A11,checking_account_status_A12,...,housing_A153,other_debtors_A101,other_debtors_A102,other_debtors_A103,job_A171,job_A172,job_A173,job_A174,foreign_worker_A201,foreign_worker_A202
0,6,1169.0,0,4.0,67.0,2.0,1,1,1,0,...,0,1,0,0,0,0,1,0,1,0
1,48,5951.0,1,2.0,22.0,1.0,1,2,0,1,...,0,1,0,0,0,0,1,0,1,0
2,12,2096.0,1,2.0,49.0,1.0,2,1,0,0,...,0,1,0,0,0,1,0,0,1,0
3,42,7882.0,1,2.0,45.0,1.0,2,1,1,0,...,1,0,0,1,0,0,1,0,1,0
4,24,4870.0,1,3.0,53.0,2.0,2,2,1,0,...,1,1,0,0,0,0,1,0,1,0

In [9]:
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [10]:
def naive_bayes(x_train, y_train):
    
    clf = GaussianNB()
    clf.fit(x_train, y_train)
    
    return clf

In [11]:
def k_nearest_neighbours(x_train, y_train):
    
    clf = KNeighborsClassifier(n_neighbors=10)
    clf.fit(x_train, y_train)
    
    return clf

In [12]:
def svm(x_train, y_train):
    
    clf = SVC(kernel='rbf', gamma='scale')
    clf.fit(x_train, y_train)
    
    return clf

In [13]:
def decision_trees(x_train, y_train):
    
    clf = DecisionTreeClassifier(max_depth=6)
    clf.fit(x_train, y_train)
    
    return clf

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

X = data.drop('customer_type', axis=1)
Y = data['customer_type']

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

In [15]:
def build_and_train_classfier(x_train, y_train, clf_fn):
    clf_model = clf_fn(x_train, y_train)
    y_pred = clf_model.predict(x_test)
    
    training_score = clf_model.score(x_train, y_train)
    test_score = accuracy_score(y_test, y_pred)
    prec_score = precision_score(y_test, y_pred)
    rec_score = recall_score(y_test, y_pred)
    
    print("Training Score: {0}, Test Score: {1}, Precision: {2}, Recall: {3}".format(training_score, test_score, prec_score, rec_score))

In [16]:
build_and_train_classfier(x_train, y_train, naive_bayes)
build_and_train_classfier(x_train, y_train, k_nearest_neighbours)
build_and_train_classfier(x_train, y_train, svm)
build_and_train_classfier(x_train, y_train, decision_trees)

Training Score: 0.7428571428571429, Test Score: 0.7233333333333334, Precision: 0.8144329896907216, Recall: 0.7707317073170732
Training Score: 0.7428571428571429, Test Score: 0.6766666666666666, Precision: 0.6824324324324325, Recall: 0.9853658536585366
Training Score: 0.72, Test Score: 0.68, Precision: 0.6835016835016835, Recall: 0.9902439024390244
Training Score: 0.8357142857142857, Test Score: 0.69, Precision: 0.7372881355932204, Recall: 0.848780487804878